[
  {freeapi, [
    {http_port, 8080},
    {jwt_secret, <<"change-me-in-production">>},
    {jwt_access_ttl, 900},
    {jwt_refresh_ttl, 604800},
    {db_host, "localhost"},
    {db_port, 27017},
    {db_name, <<"freeapi">>},
    {db_pool_size, 10},
    {db_pool_overflow, 5},
    {upload_dir, "./uploads"},
    {google_client_id, <<"">>},
    {google_client_secret, <<"">>},
    {github_client_id, <<"">>},
    {github_client_secret, <<"">>},
    {frontend_url, <<"http://localhost:3000">>}
  ]}
].
